<p id="notice"><%= notice %></p>

<p>
  <strong>Back width:</strong>
  <%= @male_measurement.back_width %>
</p>

<p>
  <strong>Arm circumference:</strong>
  <%= @male_measurement.arm_circumference %>
</p>

<p>
  <strong>Arm length:</strong>
  <%= @male_measurement.arm_length %>
</p>

<p>
  <strong>Chest width:</strong>
  <%= @male_measurement.chest_width %>
</p>

<p>
  <strong>Hip:</strong>
  <%= @male_measurement.hip %>
</p>

<p>
  <strong>Hip length:</strong>
  <%= @male_measurement.hip_length %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @male_measurement.waist %>
</p>

<p>
  <strong>Tie:</strong>
  <%= @male_measurement.tie %>
</p>

<p>
  <strong>Knee:</strong>
  <%= @male_measurement.knee %>
</p>

<p>
  <strong>Around ankle bar:</strong>
  <%= @male_measurement.around_ankle_bar %>
</p>

<p>
  <strong>Length:</strong>
  <%= @male_measurement.length %>
</p>

<p>
  <strong>Note:</strong>
  <%= @male_measurement.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @male_measurement.user %>
</p>

<%= link_to 'Edit', edit_male_measurement_path(@male_measurement) %> |
<%= link_to 'Back', male_measurements_path %>
