<%= form_for @female_measurement, :html => { :class => "form-horizontal female_measurement" } do |f| %>

  <% if @female_measurement.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@female_measurement.errors.count, "error") %> prohibited this female_measurement from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @female_measurement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :bust, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :bust, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bust) %>
  </div>
  <div class="form-group">
    <%= f.label :waist, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :waist, :class => 'form-control' %>
    </div>
    <%=f.error_span(:waist) %>
  </div>
  <div class="form-group">
    <%= f.label :hip, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :hip, :class => 'form-control' %>
    </div>
    <%=f.error_span(:hip) %>
  </div>
  <div class="form-group">
    <%= f.label :back_waist, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :back_waist, :class => 'form-control' %>
    </div>
    <%=f.error_span(:back_waist) %>
  </div>
  <div class="form-group">
    <%= f.label :crotch, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :crotch, :class => 'form-control' %>
    </div>
    <%=f.error_span(:crotch) %>
  </div>
  <div class="form-group">
    <%= f.label :arm_width, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :arm_width, :class => 'form-control' %>
    </div>
    <%=f.error_span(:arm_width) %>
  </div>
  <div class="form-group">
    <%= f.label :arm_length, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :arm_length, :class => 'form-control' %>
    </div>
    <%=f.error_span(:arm_length) %>
  </div>
  <div class="form-group">
    <%= f.label :height, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :height, :class => 'form-control' %>
    </div>
    <%=f.error_span(:height) %>
  </div>
  <div class="form-group">
    <%= f.label :back, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :back, :class => 'form-control' %>
    </div>
    <%=f.error_span(:back) %>
  </div>
  <div class="form-group">
    <%= f.label :trouser_length, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :trouser_length, :class => 'form-control' %>
    </div>
    <%=f.error_span(:trouser_length) %>
  </div>
  <div class="form-group">
    <%= f.label :apex_to_apex, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :apex_to_apex, :class => 'form-control' %>
    </div>
    <%=f.error_span(:apex_to_apex) %>
  </div>
  <div class="form-group">
    <%= f.label :shoulder_to_apex, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :shoulder_to_apex, :class => 'form-control' %>
    </div>
    <%=f.error_span(:shoulder_to_apex) %>
  </div>
  <div class="form-group">
    <%= f.label :note, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :note, :class => 'form-control' %>
    </div>
    <%=f.error_span(:note) %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                female_measurements_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
