<p id="notice"><%= notice %></p>

<p>
  <strong>Bust:</strong>
  <%= @female_measurement.bust %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @female_measurement.waist %>
</p>

<p>
  <strong>Hip:</strong>
  <%= @female_measurement.hip %>
</p>

<p>
  <strong>Back waist:</strong>
  <%= @female_measurement.back_waist %>
</p>

<p>
  <strong>Crotch:</strong>
  <%= @female_measurement.crotch %>
</p>

<p>
  <strong>Arm width:</strong>
  <%= @female_measurement.arm_width %>
</p>

<p>
  <strong>Arm length:</strong>
  <%= @female_measurement.arm_length %>
</p>

<p>
  <strong>Height:</strong>
  <%= @female_measurement.height %>
</p>

<p>
  <strong>Back:</strong>
  <%= @female_measurement.back %>
</p>

<p>
  <strong>Trouser length:</strong>
  <%= @female_measurement.trouser_length %>
</p>

<p>
  <strong>Apex to apex:</strong>
  <%= @female_measurement.apex_to_apex %>
</p>

<p>
  <strong>Shoulder to apex:</strong>
  <%= @female_measurement.shoulder_to_apex %>
</p>

<p>
  <strong>Note:</strong>
  <%= @female_measurement.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @female_measurement.user %>
</p>

<%= link_to 'Edit', edit_female_measurement_path(@female_measurement) %> |
<%= link_to 'Back', female_measurements_path %>
